<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>989506535482-h22r802sns3788m02ml61uogkg5a0jc8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.989506535482-h22r802sns3788m02ml61uogkg5a0jc8</string>
	<key>API_KEY</key>
	<string>AIzaSyDQD1-hRHayqW2OskjpVIcT_nVnX7Igt1k</string>
	<key>GCM_SENDER_ID</key>
	<string>989506535482</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chat</string>
	<key>PROJECT_ID</key>
	<string>chat-hoss</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-hoss.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:989506535482:ios:a4bd13ad8ef1459a23b503</string>
</dict>
</plist>